In [54]:
import pandas as pd
import numpy as np

In [55]:
true_news=pd.read_csv('True.csv')
fake_news=pd.read_csv('Fake.csv')

In [56]:
true_news['label']=0
fake_news['label']=1

In [57]:
true_news

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [58]:
fake_news

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",1
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",1
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",1
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",1
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",1

In [59]:
dataset1=true_news[['text','label']]
dataset2=fake_news[['text','label']]

In [60]:
dataset1

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      0
21413  LONDON (Reuters) - LexisNexis, a provider of l...      0
21414  MINSK (Reuters) - In the shadow of disused Sov...      0
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      0
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      0

[21417 rows x 2 columns]

In [61]:
dataset2

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      1
1      House Intelligence Committee Chairman Devin Nu...      1
2      On Friday, it was revealed that former Milwauk...      1
3      On Christmas day, Donald Trump announced that ...      1
4      Pope Francis used his annual Christmas Day mes...      1
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[23481 rows x 2 columns]

In [62]:
dataset=pd.concat([dataset1,dataset2])

In [63]:
dataset

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[44898 rows x 2 columns]

In [64]:
dataset.isnull().sum()

text     0
label    0
dtype: int64

In [65]:
dataset['label'].value_counts()

label
1    23481
0    21417
Name: count, dtype: int64

In [66]:
dataset=dataset.sample(frac=1)

In [67]:
dataset

                                                    text  label
17110  ANKARA (Reuters) - Iranian Supreme Leader Ayat...      0
11984  YES mainstream fake news media, there is a cle...      1
22046  21st Century Wire says Earlier in the week, 21...      1
6876   In case you weren t paying attention: Just as ...      1
6379    NEW YORK/SAN FRANCISCO (Reuters) - President-...      0
...                                                  ...    ...
19847  No wonder she didn t want anyone to see her sp...      1
18925  ANKARA (Reuters) - Turkey s border with northe...      0
11219  Zinke and Brandyburg accompanied Spicer to the...      1
7737   With the Republican side of this presidential ...      1
20174  Earlier this week, it was rumored that Hillary...      1

[44898 rows x 2 columns]

# NLP

In [68]:
import nltk
import re
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

In [69]:
ps=WordNetLemmatizer()

In [70]:
stopwords=stopwords.words('english')

In [71]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [72]:
def clean_row(row):
    
    row=row.lower()
    row=re.sub('[^a-zA-Z]',' ',row)
    
    token=row.split()
    
    news=[ps.lemmatize(word) for word in token if not word in stopwords]
    
    cleanned_news=' '.join(news)
    
    return cleanned_news

In [73]:
dataset['text']

17110    ANKARA (Reuters) - Iranian Supreme Leader Ayat...
11984    YES mainstream fake news media, there is a cle...
22046    21st Century Wire says Earlier in the week, 21...
6876     In case you weren t paying attention: Just as ...
6379      NEW YORK/SAN FRANCISCO (Reuters) - President-...
                               ...
19847    No wonder she didn t want anyone to see her sp...
18925    ANKARA (Reuters) - Turkey s border with northe...
11219    Zinke and Brandyburg accompanied Spicer to the...
7737     With the Republican side of this presidential ...
20174    Earlier this week, it was rumored that Hillary...
Name: text, Length: 44898, dtype: object

In [74]:
dataset['text'] = dataset['text'].apply(lambda x : clean_row(x))

In [75]:
dataset['text']

17110    ankara reuters iranian supreme leader ayatolla...
11984    yes mainstream fake news medium clear connecti...
22046    st century wire say earlier week wire reported...
6876     case paying attention george w bush disaster a...
6379     new york san francisco reuters president elect...
                               ...
19847    wonder want anyone see speech singing praise t...
18925    ankara reuters turkey border northern iraq rem...
11219    zinke brandyburg accompanied spicer podium mon...
7737     republican side presidential race turning horr...
20174    earlier week rumored hillary could barely fill...
Name: text, Length: 44898, dtype: object

In [76]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [77]:
vectorizer=TfidfVectorizer(max_features=50000, lowercase=False, ngram_range=(1,2))

In [78]:
X=dataset.iloc[:35000,0]
y=dataset.iloc[:35000,1]

In [79]:
X

17110    ankara reuters iranian supreme leader ayatolla...
11984    yes mainstream fake news medium clear connecti...
22046    st century wire say earlier week wire reported...
6876     case paying attention george w bush disaster a...
6379     new york san francisco reuters president elect...
                               ...
22160    st century wire say epic discussion sunday aft...
9847     washington reuters activist group supporting m...
12983    read list people organization brave dallas pol...
3580     long suspicious russian meddling political pro...
8246     donald trump son eric trump want like daddy tr...
Name: text, Length: 35000, dtype: object

In [80]:
y

17110    0
11984    1
22046    1
6876     1
6379     0
        ..
22160    1
9847     0
12983    1
3580     1
8246     1
Name: label, Length: 35000, dtype: int64

In [81]:
from sklearn.model_selection import train_test_split

In [82]:
train_data,test_data,train_label,test_label=train_test_split(X,y,test_size=0.2,random_state=0)

In [83]:
train_data

6484     washington reuters u congress friday certified...
20301    london reuters british custom authority able c...
8553     point seems like donald trump cannot hold rall...
849      donald trump vice president eager pas gop trum...
18734    william stanford nye bill nye american comedia...
                               ...
2730     many people looked donald trump son law jared ...
12576    fbi look huma shared computer first time aroun...
5717     united nation reuters u ambassador united nati...
10990    washington reuters chair house representative ...
4779     washington reuters president donald trump beli...
Name: text, Length: 28000, dtype: object

In [84]:
vec_train_data=vectorizer.fit_transform(train_data)

In [85]:
vec_train_data=vec_train_data.toarray()

In [86]:
vec_test_data=vectorizer.fit_transform(test_data)

In [87]:
vec_test_data=vec_test_data.toarray()

In [88]:
vec_train_data.shape,vec_test_data.shape

((28000, 50000), (7000, 50000))

In [89]:
vec_train_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [104]:
training_data = pd.DataFrame(vec_train_data,columns=vectorizer.get_feature_names_out())
testing_data = pd.DataFrame(vec_test_data,columns=vectorizer.get_feature_names_out())

In [105]:
training_data

,aa,aapl,aaron,aarp,ab,aback,abadi,abadi said,abandon,abandoned,...,zoning,zoo,zor,zor city,zor province,zuckerberg,zuma,zuma said,zurich,zurich reuters
0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.049381,0.062985,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27995,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27996,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27997,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27998,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27999,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

###

# MODEL TRAINING USING NAIVE BAYES

In [106]:
from sklearn.naive_bayes import MultinomialNB

In [107]:
clf=MultinomialNB()

In [109]:
clf.fit(training_data,train_label)

MultinomialNB()

In [110]:
y_pred=clf.predict(testing_data)

In [111]:
test_label

1620     0
21145    0
12023    1
4745     1
4662     0
        ..
15752    0
8380     1
12929    1
19122    1
1732     1
Name: label, Length: 7000, dtype: int64

In [112]:
from sklearn.metrics import accuracy_score

In [113]:
accuracy_score(test_label,y_pred)

0.5851428571428572

In [114]:
y_pred_train=clf.predict(training_data)

In [115]:
accuracy_score(train_label,y_pred_train)

0.9596785714285714

In [123]:
txt=input("enter the news")
news=clean_row(str(txt))
pred=clf.predict(vectorizer.transform([news]).toarray())
if pred==0:
    print("News is Correct")
else:
    print("News is Fake")

enter the newsThe following statementsÂ were posted to the verified Twitter accounts of U.S. President Donald Trump, @realDonaldTrump and @POTUS.  The opinions expressed are his own.Â Reuters has not edited the statements or confirmed their accuracy.  @realDonaldTrump : - @foxandfriends, we are in record territory in all things having to do with our economy! [0632 EST] - Great, and we should boycott Fake News CNN. Dealing with them is a total waste of time! [0649 EST] - Looks like another great day for the Stock Market. Consumer Confidence is at Record High. I guess somebody likes me (my policies)! [0703 EST] - Wow, Matt Lauer was just fired from NBC for â€œinappropriate sexual behavior in the workplace.â€ But when will the top executives at NBC & Comcast be fired for putting out so much Fake News. Check out Andy Lackâ€™s past! [0716 EST] - So now that Matt Lauer is gone when will the Fake News practitioners at NBC be terminating the contract of Phil Griffin? And will they terminate low ratings Joe Scarborough based on the â€œunsolved mysteryâ€ that took place in Florida years ago? Investigate! [0914 EST] - Just spoke to President XI JINPING of China concerning the provocative actions of North Korea. Additional major sanctions will be imposed on North Korea today. This situation will be handled! [0940 EST] - Economy growing! Excluding hurricane effects, CEA estimates that real GDP growth would have been 3.9% in Q3. Stock market at a new high, unemployment at a low. We are winning and TAX CUTS will shift our economy into high gear! [0949 EST] - Departing @JBA_NAFW for St. Charles, Missouri to help push our plan for HISTORIC TAX CUTS across the finish line. A successful vote in the Senate this week will bring us one giant step closer to delivering an incredible victory for the American people! (link: instagram.com/p/BcFs_kXgTG5/) [1334 EST] -- Source link: (bit.ly/2jBh4LU) (bit.ly/2jpEXYR)
News is Correct

C:\Users\admin\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(